@import 'scss/variables.scss';
@import 'scss/general.scss';
@import 'scss/footer.scss';
@import 'scss/play-queue.scss';
@import 'scss/song-playing.scss';
@import 'scss/favorites.scss';
@import 'scss/play-lists.scss';



#favorites li .switching-icons>,
.song-list li .switching-icons> {
    font-size: 24px;
    display: inline-block;
    min-width: 50px !important;
    max-width: 50px !important;
}

#favorites li .switching-icons>.fa-play-circle,
.song-list li .switching-icons>.fa-play-circle,
#favorites li .switching-icons>.fa-volume,
.song-list li .switching-icons>.fa-volume {
    display: none;
}

#favorites li:hover,
.song-list li:hover {
    background: #243049;
}

#favorites li:hover .fa-music-alt,
.song-list li:hover .fa-music-alt {
    display: none;
}

#favorites li:hover .fa-play-circle,
.song-list li:hover .fa-play-circle {
    display: inline-block;
    color: #b1bbc1;
}

#favorites li:hover .fa-play-circle:hover,
.song-list li:hover .fa-play-circle:hover {
    color: #ff1744;
}

#favorites li.uk-active .fa-music-alt,
.song-list li.uk-active .fa-music-alt {
    display: none;
}

#favorites li.uk-active .fa-volume,
.song-list li.uk-active .fa-volume {
    display: inline-block;
    color: #ff1744;
}

#favorites li.uk-active:hover .fa-play-circle,
.song-list li.uk-active:hover .fa-play-circle {
    display: none;
}

#search>div>div>div>ul>li>div>div.uk-width-auto.uk-first-column>div>i.fal.fa-music-alt {
    display: inline-block;
    width: 20px;
}

#search>div>div>div>ul>li:hover>div>div.uk-width-auto.uk-first-column>div>i.fal.fa-music-alt {
    display: none;
}

#search>div>div>div>ul>li>div>div.uk-width-auto.uk-first-column>div>a>i.fal.fa-play-circle {
    display: none;
}

#search>div>div>div>ul>li:hover>div>div.uk-width-auto.uk-first-column>div>a>i.fal.fa-play-circle {
    display: inline-block;
    width: 20px;
}

.uk-tooltip {
    background: white;
    color: #ff1744;
    font-size: 14px;
    font-weight: 600;
}