html {
    scroll-behavior: smooth;
}

.uk-text-primary {
    color: $global-primary-background !important;
}

.suggest-button {
    float: right;
    border: 1px solid $global-primary-background;
    background: transparent;
    color: $global-primary-background !important;
    padding: 5px;
    font-size: 12px;
    text-transform: uppercase;

    &:hover {
        text-decoration: none;
        background: $global-primary-background;
        color: $global-inverse-color !important;
    }
}

form {
    .uk-text-danger {
        width: 100%;
        float: left;
        line-height: 18px;
    }
}