.play-queue {
    .now-playing {
        border-bottom: 1px solid $global-border;

        dd {
            padding-left: 30px;
        }
    }

    .next-up {
        .uk-leader-fill {
            color: $global-border;
        }

        dt div:nth-child(2) {
            color: $global-border;
        }
    }

    dl {
        dt {
            a {

                &:hover {
                    color: $global-primary-background;
                    text-decoration: none;
                }
            }

        }

        dd {
            a {
                color: $global-muted-color;

                &:hover {
                    color: $global-primary-background;
                    text-decoration: none;
                }
            }
        }
    }
}