.song-playing {
    padding-top: 70px;

    .album-cover {
        max-width: 280px;
        max-height: 280px;

        img {
            max-width: 280px;
            border: 5px solid $global-border;
        }

        .spin {
            animation-name: spin;
            animation-duration: 5000ms;
            animation-iteration-count: infinite;
            animation-timing-function: linear;

            @keyframes spin {
                from {
                    transform: rotate(0deg);
                }

                to {
                    transform: rotate(360deg);
                }
            }
        }

        .spin-paused {
            animation-play-state: paused;
        }

        .song-nav {
            .song-nav-bg {
                background-color: rgba(0, 0, 0, 0.6);
                height: 280px;
                width: 280px;
                position: absolute;
                top: 70px;

                border-radius: 50%;
                opacity: 0;

                transform-origin: 50% 50%;
                transform: scale(0.1) rotate(-270deg);
                transition: all 0.4s ease-out;
            }

            .song-nav-bg.toggled-open {
                opacity: 1;
                transform: scale(1) rotate(0);
            }

            .menu-toggler {
                position: absolute;
                display: block;
                top: 180px;
                right: 0;
                left: 0;
                margin: auto;
                z-index: 2;
                opacity: 1;
                cursor: pointer;
                background: $global-background;
                color: $global-inverse-color;
                width: 70px;
                height: 70px;
                line-height: 70px;
                border-radius: 50%;
                font-size: 30px;
                text-align: center;
                border: 2px solid $global-inverse-color;

                .fa-times {
                    display: none;
                }
            }

            .menu-toggler.toggled-open {
                .fa-times {
                    display: inline-block;
                }

                .fa-bars {
                    display: none;
                }
            }

            .menu-toggler.toggled-open~ul .menu-item {
                opacity: 1;

                &:nth-child(1) {
                    transform: rotate(0deg) translateX(-90px);
                }

                &:nth-child(2) {
                    transform: rotate(60deg) translateX(-90px);
                }

                &:nth-child(3) {
                    transform: rotate(120deg) translateX(-90px);
                }

                &:nth-child(4) {
                    transform: rotate(180deg) translateX(-90px);
                }

                &:nth-child(5) {
                    transform: rotate(240deg) translateX(-90px);
                }

                &:nth-child(6) {
                    transform: rotate(300deg) translateX(-90px);
                }

                a {
                    pointer-events: auto;
                }
            }

            .menu-item {
                position: absolute;
                display: block;
                top: 180px;
                right: 0;
                left: 0;
                margin: auto;
                width: 60px;
                height: 60px;
                display: block;
                opacity: 0;
                transition: 0.5s;

                a {
                    display: block;
                    width: inherit;
                    height: inherit;
                    line-height: 60px;
                    color: rgba(255, 255, 255, 0.7);
                    background: rgba(255, 255, 255, 0.2);
                    border-radius: 50%;
                    text-align: center;
                    text-decoration: none;
                    font-size: 30px;
                    pointer-events: none;
                    transition: .2s;

                    &:hover {
                        box-shadow: 0 0 0 1.5px rgba(255, 255, 255, 0.3);
                        color: white;
                        background: rgba(255, 255, 255, 0.3);
                        font-size: 33.3333333333px;
                    }
                }

                &:nth-child(1) a {
                    transform: rotate(0deg);
                }

                &:nth-child(2) a {
                    transform: rotate(-60deg);
                }

                &:nth-child(3) a {
                    transform: rotate(-120deg);
                }

                &:nth-child(4) a {
                    transform: rotate(-180deg);
                }

                &:nth-child(5) a {
                    transform: rotate(-240deg);
                }

                &:nth-child(6) a {
                    transform: rotate(-300deg);
                }
            }
        }
    }
}